<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Personae Gratae</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <header>
      PatternFly Header
    </header>

    <div>
      {{{body}}}
    </div>

    <footer>
      Footer (if needed);
    </footer>
</body>
</html>