  <form class="form-horizontal" role="form" method="POST" action="/create">
    <h3>Identity</h3>
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName">
      </div>
    </div>
    <div class="form-group">
      <label for="inputJobTitle" class="col-sm-2 control-label">Job Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputJobTitle">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhoto" class="col-sm-2 control-label">Photo</label>
      <div class="col-sm-10">
      <input type="file" id="inputPhoto">
      <p class="help-block">Upload a profile picture for the persona.</p>
      </div>
    </div>

    <h3>Background and Skills</h3>
    <div class="form-group">
      <label for="inputSkill" class="col-sm-2 control-label">Skill</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputSkill">
      </div></div>
      <div class="form-group">
      <label for="inputCompetency" class="col-sm-2 control-label">Competency level</label>
      <div class="col-sm-10">

        <!-- begin slider -->

        <script src="node_modules/bootstrap-slider/dist/bootstrap-slider.js"></script>
        <input id="inputCompetency" type="text"
        data-provide="slider"
        data-slider-min="0"
        data-slider-max="100"
        data-slider-tooltip="show" />

        <!-- end slider -->
      </div>
      <div class="col-sm-10 col-sm-offset-2">
        <a href="#0"><span class="pficon pficon-add-circle-o"></span> Add another skill</a>
      </div>
    </div>


    <h3>Keys to Success</h3>
    <div class="form-group">
      <label for="inputSuccesses" class="col-sm-2 control-label">1.</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="inputSuccesses" name="text" placeholder="Type in a key to success for this persona" rows="3"></textarea>
      </div>
      <div class="col-sm-10 col-sm-offset-2">
        <a href="#0"><span class="pficon pficon-add-circle-o"></span> Add another key to success</a>
      </div>
    </div>

    <h3>Dangers</h3>
    <div class="form-group">
      <label for="inputDangers" class="col-sm-2 control-label">1.</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="inputDangers" name="text" placeholder="Type in a danger area for this persona" rows="3"></textarea>
      </div>
      <div class="col-sm-10 col-sm-offset-2">
        <a href="#0"><span class="pficon pficon-add-circle-o"></span> Add another danger</a>
      </div>
    </div>

    <h3>A day in the life</h3>
    <div class="form-group">
      <label for="inputActivities" class="col-sm-2 control-label">A Day in the Life</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputActivities">
      </div>
    </div>


    <h3>More information about the persona</h3>
    <div class="form-group">
      <label for="inputQuote" class="col-sm-2 control-label">Quote</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputQuote">
      </div>
    </div>
    <div class="form-group">
      <label for="inputNetwork" class="col-sm-2 control-label">Network</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputNetwork">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" name="submit" class="btn btn-primary">Add Persona</button>
        <button type="cancel" class="btn btn-default">Cancel</button>
      </div>
    </div>

  </form>